@import './_colors.scss';

.footer {
  margin-top: 8rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;

  & .name {
    font-size: 1.6rem;
    display: block;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  & span {
    font-size: 1rem;
    display: block;
  }
}