@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap&subset=latin-ext');

@import '_variables.scss';

//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Domine',serif;




//---SET BASIC THINGS ON START---

* {
  margin: 0;
  padding: 0;
  line-height: 120%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  text-decoration: none;
  color: currentColor;
  list-style: none;
  transition: .1s ease-in-out;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: $white;
  width: 100%;
  min-height: 100vh;
  color: $dark;
  overflow-x: hidden;
}

.width-max {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}










//---H1, H2, H3...---

h2 {
  font-size: 5.25rem;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  text-shadow: 0 0 0 transparent;
  //transform: translateY(0);

  &:hover {
    text-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    //transform: translateY(-2px);
  }
}










//---MAIN STRUCTURE---

.all {
  display: grid;
  width: 100%;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
}



.doc-header {
  height: 90vh;
  background-color: $red;
  color: $white;

  &>.width-max {
    display: grid;
    place-content: stretch;
    grid-template-rows: auto 1fr;
  }
}

.navBar {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;

  a {
    display: block;
    margin-right: auto;
    margin-left: -.7em;
    width: fit-content;
    padding: .7em .6em .55em;
  }
}

.nav>ul {
  text-transform: uppercase;
  display: flex;
  font-size: .75rem;

  &>li>a {
    padding: 1.4em 1.2em 1.1em;
    display: block;

    &:hover {
      background-color: $t-light;
    }
  }
}

.hero {
  display: grid;
  place-content: center;

  &>.content {
    position: relative;
    text-align: center;

    &>.huge-letter {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $t-dark;
      font-size: 35rem;
      line-height: 1;
      transform: translate(-40%, -50%);
      user-select: none;
      padding-top: .2em;
      padding-right: .15em;
      display: block;
      z-index: 1;
    }

    &>h2 {
      z-index: 2;
      position: relative;

      &>span {
        display: block;
        font-size: 2rem;
        font-family: 'Domine', serif;
      }
    }
  }
}








//---BUTTONS---






//---CARDs---